$font-heading: Georgia, "Times New Roman", Times, serif;

// colors

$dark: #1d2228;
$light-gray: #787a8a;
$clr-white: #ffffff;
$clr-theme: #05aff2;
$font-heading: Georgia, "Times New Roman", Times, serif;
$bg-color-aqua: #e8eff8;
$bg-color-white: #ffffff;
$bg-color-black: #1d2228;
$bg-color-light_blue: #05aff2;
$bg-color-copyright: #161a1e;
$redish : #B72A12;
$secondary-color: #787a8a;
$goldenish: #FDB827;
$teal: #008080;
$teak-black: #072227
